<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ren Garden</title>

<!-- Comments shouldn't come before DOCTYPE/charset -->
<!-- No HTML comment double-hyphens: https://stackoverflow.com/q/26600092/ -->

<!--
 ! File: %index.html
 ! Summary: "Main (and likely only) HTML page for the REPL project"
 ! Project: "JavaScript REPLpad for Ren-C branch of Rebol 3"
 ! Homepage: https://github.com/hostilefork/replpad-js/
 !
 !=============================================================================
 !
 ! Copyright (c) 2018-2019 hostilefork.com
 !
 ! See README.md and CREDITS.md for more information
 !
 ! Licensed under the Lesser GPL, Version 3.0 (the "License");
 ! you may not use this file except in compliance with the License.
 ! You may obtain a copy of the License at
 !
 ! https://www.gnu.org/licenses/lgpl-3.0.html
 !
 !=============================================================================
 !
 ! It's generally the goal of the project to be a "single page", where most
 ! all interaction happens inside the console widget.  It will have tutorials
 ! and such, but those will be data-driven and content written in something
 ! friendlier than HTML, such as MarkDown.  So this may wind up being the only
 ! HTML page there is, with all content dynamically inserted into it.
 !
 ! HTML Style Guide (which this should probably follow at some point)
 ! https://google.github.io/styleguide/htmlcssguide.html
 !
 !-->

    <!-- Two variations for sans serif user input and monospace system output:
      https://github.com/hostilefork/replpad-js/issues/13
    -->
    <link
       href="https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans"
      rel="stylesheet"
    >
    <!-- See https://fonts.google.com/ -->

    <!-- !!! CSS for splitter is tied in with ReplPad--review strategy. -->
    <!-- https://github.com/nathancahill/Split.js -->
    <link rel="stylesheet" type="text/css" href="./assets/css/split.css">

    <script src="https://metaeducation.s3.amazonaws.com/travis-builds/load-r3.js"></script>
    <script src="./assets/js/gui.js"></script>

    <!-- %load-r3.js looks for all "text/rebol" <script> tags and runs them -->
    <script type="text/rebol" src="./replpad.reb"></script>
    <script type="text/rebol" src="./main.reb"></script>

    <script>reb.Startup()</script>

    <!-- link rel="stylesheet" type="text/css" href="assets/css/replpad.css"-->
  </head>
  <body>
    <div class="container">
      <div id="replcontainer" class="split">
        <div id="replpad">

          <!-- Due to `white-space: pre;` in CSS, these can't line break -->

          <!-- Placeholder image, taken from: -->
          <!-- https://medium.com/@feldman238/the-quickest-and-easiest-preloader-ever-9efa975e1a50 -->
        </div>
    <div id="app">
      {{ message }}
    </div>
      </div>

<!--
  >>  js-do {console.log(document.getElementById("app").outerHTML)}
‌>>   js-do {document.getElementById('app').innerHTML = "Goodbye"}
‌>>   js-do {console.log(document.getElementById("app").outerHTML)}
-->

    <script type="text/rebol">      
      js-do {console.log(document.getElementById('app').innerHTML)}
      js-do {document.getElementById('app').innerHTML = "Goodbye"}
    </script>

    </div>    
  </body>
</html>
